# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.CarClinic.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Deiby\Documents\GitHub\CarClinic\.idea\.idea.CarClinic.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
